*.*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #111;
}

strong {
    font-weight: bold;
}


header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


header {
    background-color: #7479BD;
    color: white;
    position: relative;
    width: 100%;
}

header h1 {
    align-self: flex-start;
    font-weight: normal;
    padding: 0 1em;
}


header nav ul {
    margin: 0;
    padding: 0 1em;
    color: white;
}

header nav.account ul li {
    display: inline-block;
    transition: all ease-out .1s;
    align-self: center;
}

header nav.account a {
    color: white;
}

nav {
    background-color: #4d4d71;
}

nav ul {
    margin: 0;
    list-style-type: none;
}

main nav {
    text-align: center;
    width: 20%;
}

main nav ul {
    padding: 0;
    margin: 0;
}

main nav li {
    margin: 0.75em 0;
    padding: 0.5em 0.25em;
    position: relative;
    display: block;
}

main nav li.active:before {
    border-left: 3px;
    border-radius: 3px;
    background-color: #1efe1e;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
}

main nav li.active img {
    opacity: 1;
}

main nav li a {
    display: block;
    width: 100%;
}

main nav li img {
    opacity: 0.5;
    max-width: 30px;
    min-width: 15px;
}


.search {
    border-radius: 5px;
    border: 1px solid #e4e2e2;
    padding: 1em;
    margin: 1em;
    width: 100%;
}

.alert {
    background-color: #7379bd;
    border-radius: 5px;
    color: white;
    padding: 0.5em;
    margin: 1em;
    text-align: left;
}

main {
    background-color: #fbfbfb;
    display: flex;
}

main .tab {
    background-color: white;
    position: relative;
    width: 80%;
}

main .tab__heading {
    background-color: white;
    color: #666666;
    display: inline-block;
    font-weight: normal;
    margin: 0 0.5em;
    padding: 0;
}

.chart {
    padding: 1em;
}

.chart__heading {
    color: #aaa;
    display: inline-block;
    font-size: 1em;
    margin: 0;
    padding: 0.25em 0;
    text-transform: uppercase;
}

.chart__menu {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}

.chart__menu li {
    float: left;
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 10px;
}

.chart__menu li a {
    font-weight: 500;
}

.chart__menu li.active {
    background-color: #83c891;
    border-radius: 1em;
    font-weight: bold;
}

.chart__menu li.active a {
    color: #fff;
}


p {
    margin: 35px auto 0;
    line-height: 2em;
    text-align: left;
}

.border {
    border: 1px solid #e4e2e2;
}

.chart.border+.chart.border {
    border-top: 0;
}

.social {
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 5px;
    margin: 1em 0;
}

svg {
    display: none;
}

.social svg {
    display: inline-block;
    background-color: #4d4d71;
    margin: 0;
    vertical-align: text-top;
}

.social__heading {
    display: block;
    color: #ccc;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.social__stats {
    font-weight: 300;
    font-size: 300%;
    line-height: 1em;
    color: #7b7b7b;
}

#twitter {
    fill: white;
    width: 20px;
    transform-origin: 50px 50px;
}


/**
 * media block
 */

.block {
    overflow: hidden;
    padding: 1rem;
    margin: 0 0 1rem -1rem;
    border-bottom: 1px solid #ddd;
    width: calc(100%);
}

.block img {
    width: 75px;
    height: 75px;
    float: left;
    margin: 0 1rem 0 0;
    border-radius: 100%
}

.block p {
    margin: 0 auto 0;
    overflow-wrap: break-word;
}

.block h2 {
    font-weight: 500;
    font-size: 100%;
    margin: 0 0 0.5rem 0;
    text-transform: capitalize;
}

.block>div {
    padding-left: calc(75px + 1rem);
}



a {
    text-decoration: none;
    color: #39add1;
    font-weight: 700;
}

a:hover {
    color: #111;
}



@media (min-width: 426px) {
    .logo__mobile {
        display: none;
    }
    .logo__text {
        display: inline-block;
    }
}

main h2 {
    font-size: 28px;
}


footer {
    width: 100%;
    margin-top: 100px;
    padding-bottom: 30px;
    color: #ba8058;
}