/**
 *  International box-sizing Awareness Day
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */ 
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

/** simple grid */

.row {
    clear: both;
    overflow: hidden;
}

@media (min-width: 769px) {

    [class^="col-"] {
        float: left;
        padding: 0 ; /* 1rem figure out */
    }

    .col-1 {
        width: calc(100% / 12);
    }
    .col-2 {
        width: calc(100% / 12 * 2);
    }
    .col-3 {
        width: calc(100% / 12 * 3);
    }
    .col-4 {
        width: calc(100% / 12 * 4);
    }
    .col-5 {
        width: calc(100% / 12 * 5);
    }
    .col-6 {
        width: calc(100% / 12 * 6);
    }
    .col-7 {
        width: calc(100% / 12 * 7);
    }
    .col-8 {
        width: calc(100% / 12 * 8);
    }
    .col-9 {
        width: calc(100% / 12 * 9);
    }
    .col-10 {
        width: calc(100% / 12 * 10);
    }
    .col-11 {
        width: calc(100% / 12 * 11);
    }
    .col-12 {
        width: calc(100% / 12 * 12);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    color: #111;
}

strong {
    font-weight: bold;
}


header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


header {
    background-color: #7479BD;
    color: white;
    position: relative;
    width: 100%;
}

header h1 {
    align-self: flex-start;
    font-weight: normal;
    padding: 0 1em;
}


header nav ul {
    margin: 0;
    padding: 0 1em;
    color: white;
}

header nav.account ul li {
    display: inline-block;
    transition: all ease-out .1s;
    align-self: center;
}

header nav.account a {
    color: white;
}

nav {
    background-color: #4d4d71;
}

nav ul {
    margin: 0;
    list-style-type: none;
}

main nav {
    text-align: center;
    min-width: 40px;
    max-width: 100px;    
    width: calc(100% / 12 * 2);
}

main nav ul {
    padding: 0;
    margin: 0;
}

main nav li {
    margin: 0.75em 0;
    padding: 0.5em 0.25em;
    position: relative;
    display: block;
}

main nav li.active:before {
    border-left: 3px;
    border-radius: 3px;
    background-color: #1efe1e;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
}

main nav li.active img {
    opacity: 1;
}

main nav li a {
    display: block;
    width: 100%;
}

main nav li img {
    opacity: 0.5;
    max-width: 30px;
    min-width: 15px;
}


.search {
    border-radius: 5px;
    border: 1px solid #e4e2e2;
    margin: 1em;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    width: 40%;
}

.alert {
    background-color: #7379bd;
    border-radius: 5px;
    color: white;
    padding: 0.5em;
    margin: 1em 1em 0;
    text-align: left;
}

main {
    background-color: #fbfbfb;
    display: flex;
}

.panel {
    background-color: #fbfbfb;
    margin: 0;
    position: relative;
    width: 100%;
}

.panel__heading {
    background-color: white;
    border-right: 1px solid #CCC;
    border-bottom: none;
    color: #666666;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 1em;
    z-index: -1;
}

.panel__main {
    background-color: white;
    border-top: 1px solid #ccc;
    margin-top: -1px;
    z-index: 0;
}

.chart canvas {
    padding: 1em;
}

.heading {
    color: #aaa;
    display: inline-block;
    font-size: 10px;
    margin: 2em 0 0 2em;
    padding: 0;
    text-transform: uppercase;
}

.chart__menu {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 1em;
    float: right;
    line-height: 1.3em;
}

.chart__menu li {
    float: left;
    display: inline-block;
    padding: 0 0.5em;
    font-size: 10px;
}

.chart__menu li a {
    font-weight: 500;
}

.chart__menu li.active {
    background-color: #83c891;
    border-radius: 1em;
    font-weight: bold;
    padding: 0 1em;
}

.chart__menu li.active a {
    color: #fff;
}

.chart canvas {
    margin-top: 1em;
}


p {
    margin: 35px auto 0;
    line-height: 2em;
    text-align: left;
}

.border {
    border: 1px solid #e4e2e2;
}

[class^="col-"]:nth-child(n+2).border {
    margin-left: -1px;    
}

.chart.border+.chart.border {
    border-top: 0;
}

.social {
    background-color: #fbfbfb;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 1em 1em 2em;
    padding: 1em;
}


svg {
    display: none;
}

.social svg {
    display: inline-block;
    background-color: #4d4d71;
    margin: 0;
    vertical-align: text-top;
    fill: white;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 1em;
}

.social__heading {
    display: block;
    color: #7379bd;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.social__stats {
    font-weight: 300;
    font-size: 300%;
    line-height: 1em;
    color: #7b7b7b;
}

#twitter {
    fill: white;
    width: 20px;
    transform-origin: 50px 50px;
}



/**
 * media block
 */

.block__wrapper {
    margin: 0;
    padding: 1em 2em;
}

.block {
    overflow: hidden;  
    position: relative;  
    margin:0;
    border-bottom: 1px solid #ddd;
    width: calc(100%);   
    padding-bottom: 1em; 
}

.block__wrapper:last-child .block {
    border-bottom: 0;
}

.block img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 1rem 0 0;
    border-radius: 100%
}
.block p {
    margin: 0 auto 0;
    overflow-wrap: break-word;
    padding-top: 0;
    line-height: 1em;
    font-size: 12px;
}

.block a {
    font-weight: 300;
    font-size: 12px;
}

.block h2 {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    text-transform: capitalize;
}

.block span {
    font-size: 10px;
    /** add media query */
    position: absolute;
    right: 0;
    top: 1em;
}

.block>div {
    padding-left: calc(40px + 1em);
}

form.form {
    padding: 1em;    
}

.form input,
.form select,
.form textarea {
    display: block;    
    border-radius: 5px;
    padding: 1em;
    background-color: #eee;
    border: 1px solid #ccc;   
    margin: 1em 0; 
    width: 100%;
}

button {
    margin: 0;
    padding: 1em 2em;
    text-transform: uppercase;
    background-color: #7379bd;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    width: calc(100%);
    border: 0;
}

.button__end {
    margin: 0 0 0 1em;
}

.button__start {
    margin: 0 1em 0 0;
}

.button__start,    
.button__end {    
    width: calc(100% - 1em);
}

button.cancel {
    background-color: #b2b2b2;
}

.success {
  background-color: #b2b2b2;
  border: 1px solid #ddd;
  color: #fff;
  margin: 1em;
  opacity:0;
  padding: 2em;
  transition:opacity 1s linear; 
  border-radius: 5px;   
}

.success.sent {
    opacity: 1;
}


.switch-ios.switch-light {
    position: relative;
    display: block;
    margin: 1em 0 auto;
    width: 90%;
}

.switch-ios.switch-light:first-child {
    margin-top: 0.75em;
    }

.switch-ios.switch-light > span {
    width: 100px;
    float: right;
}
.switch-ios.switch-light strong {
    display: inline;
    float: left;
    margin:0 1em;
    vertical-align: initial;
    line-height: 2em;
}

.switch-ios.switch-light input:checked ~ span {
    border-color: #7379bd;
    box-shadow: inset 0 0 0 30px #7379bd;
}
.switch-ios.switch-light input:checked ~ span a {    
    border-color: #7379bd;    
}



a {
    text-decoration: none;
    color: #39add1;
    font-weight: 700;
}

a:hover {
    color: #111;
}



@media (min-width: 426px) {
    .logo__mobile {
        display: none;
    }
    .logo__text {
        display: inline-block;
    }
}

main h2 {
    font-size: 28px;
}


footer {
    width: 100%;
    margin-top: 100px;
    padding-bottom: 30px;
    color: #ba8058;
}